
<div class="col-12 col-md-6 offset-lg-3">
  <div class="bg-white rounded p-3 shadow">
    <h2><%= @cake.name %></h2>
    <h4>£<%= @cake.price %>.00</h4>
    <div class="d-flex justify-content-center">
      <% if @cake.photo.attached? %>
        <%= cl_image_tag @cake.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-12">
        <% if current_user %>
          <% if current_user.baker? %>
            <div><%= link_to 'Modify this cake', edit_cake_path, class: "btn btn-primary mt-1 col-6" %></div >
            <div><%= link_to 'Remove this cake', cake_path(@cake), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-primary mt-1 col-6" %></div >
          <% end %>
        <div><%= link_to 'Book this cake', new_cake_booking_path(@cake), class: "btn btn-primary mt-1 col-6" %></div >
        <% end %>
        <div><%= link_to 'See more cakes', cakes_path, class: "btn btn-primary mt-1 col-6" %></div >
        <div><%= link_to 'Back to profile', user_show_path(@cake.user), class: "btn btn-primary mt-1 col-6" %></div >
        <div><%= link_to 'Log in to book this cake', new_user_session_path if user_signed_in? == false %></div >
      </div>
    </div>
  </div>
</div>
