<table>
  <% @bookings.each do |booking| %>
    <tr>
      <div class="container py-5">
        <div class="row">
          <div class="col-12 col-md-6 offset-lg-3">
            <div class="bg-white rounded p-3 shadow">
              <h5><%= booking.cake.name %></h5>
              <p><%= booking.date %></p>
              <ul>
                <li>buyer: <%= booking.user.first_name %> <%= booking.user.last_name %></li>
                <li>baker: <%= booking.cake.user.first_name %> <%= booking.cake.user.last_name %></li>
              </ul>
              <% if booking.cake.user == @user %>
                <%= simple_form_for booking do |f| %>
                  <%= f.input :confirmed, as: :boolean, checked_value: true, unchecked_value: false %>
                  <%= f.input :paid, as: :boolean, checked_value: true, unchecked_value: false %>
                  <%= f.submit class: 'btn btn-primary' %>
                <% end %>
              <% elsif booking.user == @user %>
                <% if booking.confirmed? %>
                  <% if booking.paid?%>
                    <p><%= "#{booking.cake.user.first_name.capitalize} is looking forward to making your #{booking.cake.name} for you!" %></p>
                  <% else %>
                    <p><%= "Your #{booking.cake.name} has been confirmed. Do you wish to make your payment of £#{booking.cake.price} now?" %></p>
                  <% end %>
                <% else %>
                  <%= "Your #{booking.cake.name} is still awaiting confirmation. Please check back soon!" %>
                <% end %>
              <% end %>
              <div class="mt-1">
                <%= link_to 'See details', booking_path(booking), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tr>
  <% end %>
</table>
