<h3><%= 'Your cakes!' if @bookings.count > 0 %> </h3>
  <% @bookings.each do |booking| %>
    <div class="col-6 col-md-4 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h5><%= booking.cake.name %></h5>
        <p><%= booking.date %></p>
        <p>buyer: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
        <p>baker: <%= booking.cake.user.first_name %> <%= booking.cake.user.last_name %></p>
          <% if booking.confirmed? %>
            <% if booking.paid?%>
              <p><%= "#{booking.cake.user.first_name.capitalize} is looking forward to making your #{booking.cake.name} for you!" %></p>
            <% else %>
              <p><%= "Your #{booking.cake.name} has been confirmed. Do you wish to make your payment of £#{booking.cake.price} now?" %></p>
            <% end %>
          <% else %>
            <%= "Your #{booking.cake.name} is still awaiting confirmation. Please check back soon!" %>
          <% end %>
        <div class="mt-1">
          <%= link_to 'See details', booking_path(booking), class: 'btn btn-primary' %>
        </div>
        <%= link_to 'Cake', cake_path(booking.cake), class: "badge badge-light bookings-link" %>
        <%= link_to 'Baker', user_path(booking.cake.user), class: "badge badge-light bookings-link" %>
      </div>
    </div>
  <% end %>
<h3><%= 'Your bakes!' if @cake_bookings.count > 0 %> </h3>
  <% @cake_bookings.each do |cake_booking| %>
      <div class="col-6 col-md-4 offset-lg-3">
        <div class="bg-white rounded p-3 shadow">
          <h5><%= cake_booking.cake.name %></h5>
          <p><%= cake_booking.date %></p>
            <p>buyer: <%= cake_booking.user.first_name %> <%= cake_booking.user.last_name %></p>
            <p>baker: <%= cake_booking.cake.user.first_name %> <%= cake_booking.cake.user.last_name %></p>
            <%= simple_form_for cake_booking do |f| %>
              <%= f.input :confirmed, as: :boolean %>
              <%= f.input :paid, as: :boolean %>
              <%= f.submit class: 'btn btn-primary col-4' %>
            <% end %>
          <div class="mt-1">
            <%= link_to 'See details', booking_path(cake_booking), class: 'btn btn-primary col-4' %>
          </div>
            <%= link_to 'Cake', cake_path(cake_booking.cake), class: "badge badge-light bookings-link" %>
            <%= link_to 'Baker', user_path(cake_booking.cake.user), class: "badge badge-light bookings-link" %>
        </div>
      </div>
  <% end %>
  <%= link_to 'Home', root_path, class: "badge badge-light bookings-link" if @cake_bookings.count == 0 && @bookings.count == 0 %>
