<div class="container">
  <h3 class="text-center"><%= "#{current_user.first_name}'s cakes!" if @bookings.count > 0 %></h3>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class = "card-bookings my-3 " style="background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(<%= booking.cake.photo.url %>);">
        <div class="p-3">
          <h6><%= booking.cake.name %></h6>
          <% d = (booking.date - Date.today).to_i %>
          <p class="mb-3">
            <% if d > 1 %>
              <%= "Happiness arrives in #{d} days' time" %>
            <% elsif d == 1 %>
              <%= "Happiness arrives tomorrow!" %>
            <% elsif d == 0 %>
              <%= "Today's the dayðŸŽ‰ !" %>
            <% else %>
              <%= "Hope you enjoyed your cakeðŸŽ‰ !" %>
            <% end %>
          </p>
          <p class="mb-3">
            <% if booking.confirmed? %>
              <% if booking.paid?%>
                <%= "#{booking.cake.user.first_name.capitalize} is baking your ðŸ° !" %>
              <% else %>
                <%= "ðŸ° confirmed! Make payment now?" %>
              <% end %>
            <% else %>
              <%= "ðŸ°  still waiting for confirmation. Check back soon!" %>
            <% end %>
          </p>
          <div class="card-bookings-buttons">

            <div>
              <%= link_to 'See details', booking_path(booking), class: 'badge badge-light bookings-link' %>
              <%= link_to 'Cake', cake_path(booking.cake), class: "badge badge-light bookings-link" %>
              <%= link_to 'Baker', user_show_path(booking.cake.user), class: "badge badge-light bookings-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="text-center"><%= "#{current_user.first_name}'s Bakes!" if @cake_bookings.count > 0 %> </h3>

  <div class="cards">
    <% @cake_bookings.each do |cake_booking| %>
      <div class = "card-bookings my-3" style="background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(<%= cake_booking.cake.photo.url %>);">
        <div class="p-3">
          <h6><%= cake_booking.cake.name %></h6>
          <% d = (cake_booking.date - Date.today).to_i %>
          <p class="mb-3 d-flex align-items-stretch">
            <% if d > 1 %>
              <%= "Baking starts in #{d} days' time" %>
            <% elsif d == 1 %>
              <%= "Delivering happiness tomorrow!" %>
            <% elsif d == 0 %>
              <%= "Today's the dayðŸŽ‰ !" %>
            <% else %>
              <%= "This one's behind you!" %>
            <% end %>
          </p>
          <div class="card-bookings-buttons">
          <% unless cake_booking.confirmed && cake_booking.paid %>
            <%= simple_form_for cake_booking do |f| %>
              <% if cake_booking.confirmed == false %>
                <%= f.input :confirmed, as: :boolean %>
              <% elsif cake_booking.paid == false %>
                <%= f.input :paid, as: :boolean %>
              <% end %>
              <%= f.submit class: 'btn btn-primary py-0 px-2' %>
            <% end %>
          <% else %>
            <%= "All paid up, time to get baking!" %>
          <% end %>
            <div class="mt-3">
              <%= link_to 'See details', booking_path(cake_booking), class: "badge badge-light bookings-link" %>
              <%= link_to 'Cake', cake_path(cake_booking.cake), class: "badge badge-light bookings-link" %>
              <%= link_to 'Baker', user_path(cake_booking.cake.user), class: "badge badge-light bookings-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Home', root_path, class: "badge badge-light bookings-link" if @cake_bookings.count == 0 && @bookings.count == 0 %>



</div>
