<div class="container">
  <div class = "card-bookings-large my-3" >
    <div class="bookings-photo p-3" style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url(<%= @booking.cake.photo.url %>);"></div>
      <% if @booking.user == current_user %>
        <h5><%= @booking.cake.name %></h5>
        <% d = (@booking.date - Date.today).to_i %>
        <p class="mb-3">
          <% if d > 1 %>
            <%= "Happiness arrives in #{d} days' time" %>
          <% elsif d == 1 %>
            <%= "Happiness arrives tomorrow!" %>
          <% elsif d == 0 %>
            <%= "Today's the dayðŸŽ‰ !" %>
          <% else %>
            <%= "Hope you enjoyed your cakeðŸŽ‰ !" %>
          <% end %>
        </p>
        <%= render "form", resource: [@booking.cake, @booking] %>
        <p class="mb-3">
          <% if @booking.confirmed? %>
            <% if @booking.paid?%>
              <%= "#{@booking.cake.user.first_name.capitalize} is baking your ðŸ° !" %>
            <% else %>
              <%= "ðŸ° confirmed! Make payment now?" %>
            <% end %>
          <% else %>
            <%= "ðŸ°  still waiting for confirmation. Check back soon!" %>
          <% end %>
        </p>
      <% elsif @booking.cake.user == current_user %>
        <h5><%= @booking.cake.name %></h5>
        <% d = (@booking.date - Date.today).to_i %>
        <p class="mb-3 d-flex align-items-stretch">
          <% if d > 1 %>
            <%= "Baking starts in #{d} days' time" %>
          <% elsif d == 1 %>
            <%= "Delivering happiness tomorrow!" %>
          <% elsif d == 0 %>
            <%= "Today's the dayðŸŽ‰ !" %>
          <% else %>
            <%= "This one's behind you!" %>
          <% end %>
        </p>
          <% unless @booking.confirmed && @booking.paid %>
            <%= simple_form_for @booking do |f| %>
              <% if @booking.confirmed == false %>
                <%= f.input :confirmed, as: :boolean %>
              <% elsif @booking.paid == false %>
                <%= f.input :paid, as: :boolean %>
              <% end %>
              <%= f.submit class: 'btn btn-primary py-0 px-2' %>
            <% end %>
          <% else %>
            <%= "All paid up, time to get baking!" %>
          <% end %>
      <% end %>
      <ul class="list-inline">
        <li class="list-inline-item"><%= link_to 'Home', root_path, class: "badge badge-light" %></li>
        <li class="list-inline-item"><%= link_to 'See details', booking_path(@booking), class: "badge badge-light" %></li>
        <li class="list-inline-item"><%= link_to 'Cake', cake_path(@booking.cake), class: "badge badge-light" %></li>
        <li class="list-inline-item"><%= link_to 'Baker', user_path(@booking.cake.user), class: "badge badge-light" %></li>
      </ul>
    </div>
  </div>
</div>
