<div class="box">
<div class="top-of-page">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'lauren-gray-Zqh5l1JWs5M-unsplash.jpg' %>);">

<h1>Hire a Star Baker</h1>
<p>Have your cake and eat it too!</p>
  <div class="col-12 col-md-6 offset-lg-6" style="margin-left: 350px; margin-top: 244px;">
    <%= form_tag cakes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search by baker or cake!"
      %>
      <%= submit_tag "Search", class: "btn btn-primary " %>
  </div>
<% end %>
</div>

<div class="container">

<div class="home-blurb">
  <p style= "line-height:2em">Do you love the Great British Bake Off?
    Have you always wanted to try some of the delicious bakes from the tent?
    Well, now you can with Hire a Star Baker. Find you favorite baker, or
    the baker closest to you and book them to make one of their delicious bakes
   </p>
</div>
</div>


<div class="bakers">

  <h2>Bakers</h2>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

  <div class="cards">
    <% @bakers.reverse.each do |baker| %>
      <div class = "card-profiles">
        <div class="card-image" style="background-image: url(<%= baker.photo.url %>);">
          <div class="card-info">
            <h2><%= baker.first_name %> <%= baker.last_name %></h2>
            <%# <p>Winner of GBBO</p> %>
          </div>
            <%# place tags here %>
        </div>
        <div class="button-container">
          <ul>
             <li><button><%= link_to 'See my cakes', user_show_path(baker) %></button></li>
          </ul>
        </div>

      </div>
    <% end %>
  </div>
  </div>
    <!-- Next and previous buttons -->
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

<p><button><%= link_to 'See my bookings', bookings_path(current_user) %></button></p>


<div class ="footer">
  <p>Hire a Star Baker</p>
  <p>Legal Disclaimer: Created for education purposes only by coding students at Le Wagon London. This site is not in any way associated with The Great British Bake Off, BBC, Love Productions, or Netflix.</p>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
</div>

</div>

