<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'lauren-gray-Zqh5l1JWs5M-unsplash.jpg' %>);">
<h1>Hire a Star Baker</h1>
<p>Have your cake and eat it too!</p>
</div>

<div class="container">

<div class="home-blurb">
  <p style= "line-height:2em">Do you love the Great British Bake Off?
    Have you always wanted to try some of the delicious bakes from the tent?
    Well, now you can with Hire a Star Baker. Find you favorite baker, or
    the baker closest to you and book them to make one of their delicious bakes
   </p>
</div>

  <h2>Bakers</h2>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

  <div class="cards">
    <% @bakers.each do |baker| %>
      <div class = "card-profiles">
        <div class="card-image">
          <div class="card-info">
            <h2><%= baker.first_name %> <%= baker.last_name %></h2>
            <%# <p>Winner of GBBO</p> %>
          </div>
            <%# place tags here %>
        </div>
        <div>
          <ul>
            <li><%= link_to 'see my cakes', user_show_path(baker) %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
    <!-- Next and previous buttons -->
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <p><%= link_to 'See my bookings', bookings_path(current_user) %></p>
</div>
