<div class="container py-5">
  <div class="col-12 col-md-6 offset-lg-3 my-20">
    <div class="bg-white rounded mt-20 p-3 shadow">
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
      <div class="d-flex justify-content-space-between">
      <% if @user.baker = true %>
        <table>
          <% @user.cakes.each do |cake| %>
            <tr>
              <td><%= cake.name %></td>
              <td>:         £<%= cake.price %></td>
              <%# <td><%= cake.photo, height: 300, width: 400, crop: :fill %></td>
              <td><%= link_to 'show', cake_path(cake) %></td>
              <td><%= link_to 'edit', edit_cake_path(cake) %></td>
              <td><%= link_to 'delete', cake_path(cake), method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
          <% end %>
            <tr>
              <td><%= link_to 'New cake', new_cake_path %></td>
            </tr>
        </table>
      <%  end %>
      </div>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
    <%# TODO add booking summary once bookings %>
