<div class="container py-5">

<div class="container">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>

    <div class = "display">
      <%= cl_image_tag(@user.photo.key, width: 350, height: 325, crop: :fill, class: "baker-image") %>
      <div>
      <br>
        <%# <h2><%= @user.first_name %>
      </div>
    </div>

  <div class="cards">
    <% if @user.baker = true %>
      <% @user.cakes.each do |cake| %>
        <%= link_to cake_path(cake),class: "card-cake my-3 d-flex justify-content-center align-items-center", style:"background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(#{cake.photo.url});" do %>

            <h3><%= cake.name%></h3>

        <% end %>
      <% end %>
    <% end %>





    <% if @user == current_user %>
      <%= link_to new_cake_path,class: "card-cake my-3 d-flex justify-content-center align-items-center", style:"background-color: #053C5E;" do %>
        <h3  style="color: white;" >Add a new cake</h3>
      <% end %>
    <% end %>
  </div>
  <button> <%=link_to 'Home', root_path %></button>
</div>

    <%# TODO add booking summary once bookings %>
