  <div style="width: 100%; height: 200px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="container py-5">

  <div class="col-12 col-md-6 offset-lg-6" style="margin-left: 490px; margin-top: 244px;">


<div class="container">
  <div>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <%= cl_image_tag(@user.photo.key, width: 400, height: 300, crop: :fill, class: "baker-image") %>
  </div>
  <div class="cards">
    <% if @user.baker = true %>
      <% @user.cakes.each do |cake| %>
        <div class = "card-profiles my-3">
          <div class="card-image" style="background-image: url(<%= cake.photo.url %>);">
            <div class="card-info">
              <h2><%= cake.name%></h2>
            </div>
          </div>
          <div class="button-container">
            <ul>
              <li><button><%= link_to "See Recipe Details", cake_path(cake) %></button></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @user == current_user %>
      <%= link_to new_cake_path,class: "card-profiles my-3 d-flex justify-content-center align-items-center", style:"background-color: #053C5E;" do %>
        <h3  style="color: white;" >Add a new cake</h3>
      <% end %>
    <% end %>
  </div>
  <button> <%=link_to 'Home', root_path %></button>
</div>

    <%# TODO add booking summary once bookings %>
