<h3><%= @user.first_name %> <%= @user.last_name %></h3>

<% if @user.baker = true %>
  <table>
    <% @user.cakes.each do |cake| %>
      <tr>
        <td><%= cake.name %></td>
        <td><%= cake.price %></td>
        <td><%= link_to 'show', cake_path(cake) %></td>
        <td><%= link_to 'edit', edit_cake_path(cake) %></td>
        <td><%= link_to 'delete', cake_path(cake), method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
      <tr>
        <td><button><%= link_to 'New cake', new_cake_path %></button></td>
      </tr>
  </table>
<%  end %>

<%# TODO add booking summary once bookings %>

<button> <%=link_to 'Home', root_path %></button>
